.modal(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
      form(name='rsvpForm', class='modal-content form-horizontal', ng-submit='submitForm()')
        .modal-header
          button(type='button', class='close', aria-label='Close', ng-click='$hide()')
            span(aria-hidden='true') &times;
          h4.modal-title.text-center RSVP
        .modal-body
          .alert.alert-rsvp
            p.text-center You can RSVP through the form below or <br>mail in the attendance card you received.
          .form-group.row(ng-class="{ 'has-error': rsvpForm.name.$dirty && rsvpForm.name.$error.required }")
            label(for='name', class='col-sm-offset-1 col-sm-3 control-label text-right') Full Name
            .col-sm-6
              input(id='name', name='name', ng-model='rsvp.name',
                class='form-control',
                type='text',
                placeholder='Justin Trudeau'
                required)
              span(class='help-block',
                ng-show='rsvpForm.name.$dirty && rsvpForm.name.$error.required') Your name is required
          .form-group.row( ng-class="{ 'has-error': (rsvpForm.email.$dirty && rsvpForm.email.$error.required) || (rsvpForm.email.$dirty && rsvpForm.email.$invalid)}")
            label(for='email', class='col-sm-offset-1 col-sm-3 control-label text-right') Email
            .col-sm-6
              input(id='email', name='email', ng-model='rsvp.email',
                class='form-control',
                type='email',
                ng-model-options='{debounce: 500}',
                placeholder='justin@canada.com',
                required)
              span(class='help-block',
                ng-show='rsvpForm.email.$dirty && rsvpForm.email.$error.required') Your email is required
              span(class='help-block',
                ng-show='rsvpForm.email.$dirty && rsvpForm.email.$invalid && !rsvpForm.email.$error.required') Your email is invalid
          .form-group.row
            .col-sm-offset-2.col-sm-10
              .btn-group(class='control-label', ng-model='rsvp.attend', bs-radio-group, required)
                label
                  input(type='radio', value='yes')
                  |  Would be delighted to accept
                  | &nbsp;&nbsp;&nbsp;&nbsp;
                label
                  input(type='radio', value='no')
                  |  Must regretfully decline
        .modal-footer
          button(type='button', class='btn btn-close', ng-click='$hide()') Close
          button(type='submit', class='btn btn-submit', ng-disabled='rsvpForm.$invalid || submitDisabled') Submit